.gradient {
  @apply bg-gradient-to-b from-blue-500 via-blue-400 to-blue-200 rounded-md;
}

.gradient-extra {
  @apply bg-gradient-to-b from-blue-500 via-blue-400 to-blue-200;
}

.profile {
  @apply flex flex-col justify-center p-3 bg-white;
}

.profile-card {
  @apply flex gap-2 rounded-md shadow-lg p-3 items-center;
}
.avatar {
  @apply w-32 h-24 rounded-full overflow-hidden;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  overflow: hidden;
  animation: l9 5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loader:before {
  content: "Loading...";
}
@keyframes l9 {
  0% {
    text-shadow: 0 0 #000, 11ch 0 #0f299b, 22ch 0 #2d043c, 33ch 0 #00a0b0,
      44ch 0 #3a0f9d;
  }
  25% {
    text-shadow: -11ch 0 #000, 0ch 0 #0f299b, 11ch 0 #2d043c, 22ch 0 #00a0b0,
      33ch 0 #3a0f9d;
  }
  50% {
    text-shadow: -22ch 0 #000, -11ch 0 #0f299b, 0ch 0 #2d043c, 11ch 0 #00a0b0,
      22ch 0 #3a0f9d;
  }
  75% {
    text-shadow: -33ch 0 #000, -22ch 0 #0f299b, -11ch 0 #2d043c, 0ch 0 #00a0b0,
      11ch 0 #3a0f9d;
  }
  100% {
    text-shadow: -44ch 0 #000, -33ch 0 #0f299b, -22ch 0 #2d043c, -11ch 0 #00a0b0,
      0ch 0 #3a0f9d;
  }
}
